.StatsList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
};

.StatItem {
  padding: 2px 10px;
};

.StatsResultsList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
};

.StatsResultsItem {
  padding: 2px 10px;
  color: blue;
};

.StatValue {
  font-weight: bold;
};